<div class="row">
  <header>

    <img src = "../img/logo.png" id="logo">

    <nav class="top-bar blue" data-topbar>
      <ul class="title-area">
        <li class="name blue border">
          <h1><a href="#"></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section blue">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="border"><a href="../index.html" id="blue" class="center">HOME</a></li>
          <li class="border"><a href="../about.html" id="blue" class="center">ABOUT</a></li>
          <li class="border"><a href="../services.html" id="blue" class="center">SERVICES</a></li>
          <li class="border"><a href="../contact.html" id="blue" class="center">CONTACT</a></li>
        </ul>
      </section>
    </nav>
  </header>
</div>