<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
				
				<!-- SCSS, baby! -->
				<link rel="stylesheet" type='text/css' href="/css/screen.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>


    </head>
    <body>

      <div class="container">

        <header>
          <h1><a href="/">Zeinab Multipurpose, llc.</a></h1>
        </header>

        <nav>
          <div><a href="#" id="first">HOME</a></div>
          <div><a href="about.html">ABOUT</a></div>
          <div><a href="contact.html">CONTACT</a></div>
          <div><a href="services.html">SERVICES</a></div>
          <div><a href="staff.html">STAFF</a></div>
          <div><a href="locations.html">LOCATIONS</a></div>
          <div><a href="careers.html">CAREERS</a></div>
          <div><a href="events.html">EVENTS</a></div>
        </nav>



        <main>  
            {{ content }}
        </main>

        <footer>
          <img src="/img/line.png">
          <p>Zeinab Multiservices &copy; 2013</p>
        </footer>

      </div> <!-- /container -->

    </body>
</html>
