<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Zeinab Multipurpose LLC</title>
        <meta name="viewport" content="width=device-width">
				
				<!-- SCSS, baby! -->
				<link rel="stylesheet" type='text/css' href="{{ site.baseurl }}/css/screen.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>


    </head>
    <body>

      <div class="container">

        <header>
          <h1><a href="{{ site.baseurl }}/index.html">Zeinab Multipurpose LLC</a></h1>
        </header>

        <nav>
          <div><a href="{{ site.baseurl }}/index.html" id="currents">HOME</a></div>     
          <div><a href="{{ site.baseurl }}/about/index.html">ABOUT</a></div>  
          <div><a href="{{ site.baseurl }}/services/index.html">SERVICES</a></div>
          <div><a href="{{ site.baseurl }}/contact/index.html">CONTACT</a></div>
          <div><a href="{{ site.baseurl }}/directions/index.html">DIRECTIONS</a></div>

          <!-- <div><a href="staff/staff.html">STAFF</a></div> -->
          <!-- <div><a href="locations/locations.html">LOCATIONS</a></div> -->
          <!-- <div><a href="careers/careers.html">CAREERS</a></div> -->
          <!-- <div><a href="events/events.html">EVENTS</a></div> -->
        </nav>


        <main>  
            {{ content }}
        </main>

        <footer>
          <img src="{{ site.baseurl }}/img/line.png">
          <p>Zeinab Multiservices &copy; 2013</p>
        </footer>

      </div> <!-- /container -->

    </body>
</html>
